<div class="dj-footer__brand">
	<img src="assets/images/logo.png" class="dj-footer__brand-image dj-mb-1" alt="Designer Jar">
	<h3 class="dj-footer__brand-text dj-font-weight-normal dj-color-primary dj-mb-0">
		Designer 
		<span class="dj-color-secondary">Jar</span>
	</h3>
</div>

<div class="dj-footer__links">
	

	<div class="social-twitter">
		<p>For more updates</p>
		<p>
			<a href="#!">Follow us on Twitter</a>
		</p>
	</div>

	<div class="social-medium">
		<p>For the background story</p>
		<p>
			<a href="#!">Find us on Medium</a>
		</p>
	</div>
</div>

<div class="dj-footer__copyright">
	<p class="dj-mb-0" >Copyright 2018 Andrew Chraniotis &amp; Christos Pantazis</p>
</div>
