<div class="dj-footer__links dj-text-align-center dj-text-align-left-desktop">

	<div class="dj-footer__column">
		<p>For more updates
		<a href="https://twitter.com/designerjar" class="dj-mt-1 dj-display-block">Follow us on Twitter</a>
		</p>
	</div>
	
	<div class="dj-footer__column">
		<p>For more updates
		<a href="https://twitter.com/designerjar" class="dj-mt-1 dj-display-block">Follow us on Twitter</a>
		</p>
	</div>

	<div class="dj-footer__column">
		<p>For more updates
		<a href="https://twitter.com/designerjar" class="dj-mt-1 dj-display-block">Follow us on Twitter</a>
		</p>
	</div>
</div>
<div class="dj-footer__copyright dj-text-align-center">
		<p class="dj-mb-0" >All rights reserved 2018 - <a href="http://andrewch.eu" target="_blank">Andrew Chraniotis</a> &amp; <a href="http://www.oxygenna.com">Christos Pantazis</a></p>
</div>
