// Cards
.dj-card {
    background: theme-color(paper);
}

.dj-card__body {
  padding: $spacer*2;
  &--top-padding {
    padding-top: $spacer*4;
  }
  &--bottom-padding {
    padding-bottom: $spacer*4;
  }
}