.dj-footer {
	display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:  1fr;
  @include media-up(tablet) {
    min-height: 40vh;
    grid-template-columns: 100% 1fr;
  }
}

.dj-footer__brand {
  text-align: center;
  display: flex;
  align-items: center;
  @include media-up(tablet) {
    grid-row: 1;
  }
}

.dj-footer__brand-image {
  height: $header-height * 0.4;
  padding-right: $spacer/2;
}

.dj-footer__brand-text {
  color: theme-color(background);
}

.dj-footer__links {
  background: theme-color(primary);
  padding: $spacer*3 $spacer;
  display: grid;
  grid-template-columns: .5fr 1fr 1fr;
  color: theme-color(secondary-light);
  font-size: 0.875rem;
  a {
    color: lighten(theme-color(secondary-light), 20%);
    font-size: 1.2rem;
    margin-top: $spacer/2;
    display: block;
  }
}

.dj-footer__copyright {
  background: theme-color(primary-dark);
  padding: $spacer;
  align-self: start;  
  color: theme-color(secondary-light);
  font-size: 0.875rem;
  @include media-up(tablet) {
    grid-column-start: 1;
  }
  a {
    color: lighten(theme-color(secondary-light), 20%);
  }
}