// Footer
.dj-footer {
  font-size: 0.875rem;
  color: theme-color(gray-light);
  a {
    color: theme-color(secondary-light);
  }
}
.dj-footer__links {  
  @include media-up(tablet) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: $spacer*2 40vh;
  }
  a {    
    font-size: 1.333rem;
  } 
}
.dj-footer__column {
  background: theme-color(primary);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  grid-row-start: 2;
  padding: $spacer*2 0;
}
.dj-footer__column:nth-child(1) {
  @include media-up(tablet) {
    grid-row: 1/-1;
    background: lighten(theme-color(primary), 5%);
    box-shadow: 0 52px 114px 0 rgba(theme-color(primary-dark), .1);
  }
}
.dj-footer__copyright {
  padding: $spacer 0;
  background: theme-color(primary-dark);
}