.dj-form {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  &--vertical {
    display: flex;
    flex-direction: column;
    @include media-up(tablet) {
      flex-direction: row;
    }
  }
}
.dj-form__input {
  padding: 2rem 1rem;
  font-family: $body-font-family;
  font-size: 0.875rem;
  line-height: 1;
  border: 1px solid theme-color(gray-light);
  height: 3rem;
  margin-bottom: $spacer;
  border-radius: $border-radius;
  transition: all $transition-speed/2;
  &:focus {
    outline: none;
    border: 1px solid theme-color(gray);
    transition: all $transition-speed/2;
  }
  &::-webkit-input-placeholder {
    color: theme-color(gray);
  }
  &::-moz-placeholder { 
    color: theme-color(gray);
  }
  &:-ms-input-placeholder { 
    color: theme-color(gray);
  }
  &:-moz-placeholder {
    color: theme-color(gray);
  }
  .dj-form--vertical & {
    flex: 1 1 auto;
    @include media-up(tablet) {
      border-right: 0; 
    }
  }
  @include media-up(tablet) {
    margin-bottom: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.dj-form__submit {
  cursor: pointer;
  .dj-form--vertical & {
    @include media-up(tablet) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

.form-counter {
  font-size: $font-size-small;
  margin-top: 8px;
}