// Grid
.dj-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: $spacer;
}

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    @for $i from 1 through 12 {
      .dj-column-start-#{$i}#{$infix} {   
        grid-column-start: #{$i};
      }
      .dj-column-end-#{$i}#{$infix} {   
        grid-column-end: #{$i + 1};
      }
    }
  }
}