.dj-header {
  background: theme-color(background);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $spacer;
  height: $header-height;
  z-index: 2;
}

.dj-header__brand {
  display: flex;
  align-items: center;	
}

.dj-header__brand-image {
  height: $header-height * 0.25;
}

.dj-header__brand-text {
  margin: 0;
  padding: 0 $spacer/2;
  font-size: $body-font-size * 1.25;
  line-height: .88;
}
