// Container
.dj-container {
  display: grid;
  grid-template-rows: $header-height;
}

// Main
.dj-main {
  display: grid;
  counter-reset: section;  
  @include media-up(tablet) {
    grid-template-rows: calc(100vh - #{$header-height});
    grid-auto-rows: 100vh;  
  }
}

// Sections 
.dj-section {
	display: grid;
  @include media-up(tablet) {
    grid-template-columns: 1fr 1fr;
  }
}

// Columns
.dj-section__column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: $spacer;
  order: 1;
  &--gray-lighter {
    background: theme-color(gray-lighter);
  }
  @include media-up(tablet) {
    min-height: 100%;
  }
}

.dj-section__heading {
  &:before {
    counter-increment: section;
    content: counter(section, decimal-leading-zero);
    font-family: $font-family-mono;
    margin-bottom: $spacer * 1.5;
    display: block;
    font-size: .75rem;
    color: $body-font-color;
  }
}