// Container
.dj-container {
  background: theme-color(background);
}

// Main
.dj-main {
  display: grid;
  grid-template-columns: minmax(auto, map-get($grid-breakpoints, desktop-large));
  padding: $spacer;
  justify-content: center;
}