// Variables

// Colors
$theme-colors: (
  ink: #474747,
  paper: #ffffff,
  background: #f9f9f9,
  primary:    #4F3150,
  secondary:  #E28481,
  primary-light: #F1E0F1,
  primary-dark: #422643,
  secondary-light: #FBACA9,
  secondary-dark: #B14B48,
  success:    red,
  warning:    green,
  gray: #BBBBBB,
  gray-dark:     #999,
  gray-light:      #E1E1E1,
  gray-lighter:       #F7F7F7,
  white: #fff
);

// Brekpoints
$grid-breakpoints: (
  mobile: 0,
  tablet: 768px,
  desktop: 992px,
  desktop-large: 1440px
);

// Spacer
$spacer: 24px;

// Typography

// - Βase
$body-font-size: 1rem !default;
$body-line-height: 1.75 !default;
$body-font-family: 'IBM Plex Sans' !default;
$body-font-color: lighten(theme-color(ink), 18%) !default;
$body-font-weight: 400 !default;

// - Headings
$h1-font-size: 2.1rem !default;
$h2-font-size: 1.75rem !default;
$h3-font-size: 1.3rem !default;
$h4-font-size: 1.125rem !default;
$h5-font-size: 0.875rem !default;
$h6-font-size: 0.75rem !default;

$headings-margin-bottom:      $spacer !default;
$headings-font-family:        inherit !default;
$headings-font-weight:        700 !default;
$headings-line-height:        1.33 !default;
$headings-font-color:         theme-color(ink) !default;
$headings-responsive-scale: 1.2;

// Responsive type ratio
$body-font-size-tablet: 1.1428571429;
$body-font-size-desktop: 1.1428571429;


// - Links
$link-color:                theme-color(primary) !default;
$link-hover-color:          darken($link-color, 15%) !default;

// - Misc 
$font-size-small:             80% !default;

$font-weight-light:           300 !default;
$font-weight-normal:          400 !default;
$font-weight-bold:            700 !default;

$font-family-mono: 'IBM Plex Mono';

// Header Navigation
$header-height: 140px;
$brand-height: 36px;

// Transition-speed
$transition-speed: 1s;

// Borders
$border-radius: 4px;

