{% extends "layouts/landing.html" %}

{% block content %}

<!-- Intro -->
<section class="dj-section" id="section-intro">
	<div class="dj-card dj-elevation-3 dj-column-start-1 dj-column-end-5 dj-z-2 dj-position-relative">
		<div class="dj-card__body">
			<h2>Get hired as a <span class="dj-color-secondary">designer</span></h2>
		</div>
	</div>
	<div class="dj-demo-video dj-column-start-4 dj-column-end-12 dj-z-1 dj-position-relative" style="background: #fff; height: 800px; margin-top: -200px;"></div>
</section>

<!-- Progress -->
<section class="dj-section" id="section-progress">
	Progress
</section>

<!-- Access -->
<section class="dj-section" id="section-access">
	Access
</section>

<!-- Testimonials -->
<section class="dj-section" id="section-testimonials">
	Testimonials
</section>
{% endblock %}
