{% extends "layouts/landing.html" %}

{% block content %}

<section>
	<div class="half-01">
		<div class="content">
			<span class="number">01</span>
			<h3>You’re a designer and you are looking actively for work opportunities, right?</h3>
			<a href="#!" class="btn-primary-circle">
				<!-- <img src="assets/images/icons/arrow-down.svg" alt="Icon"> -->
			</a>
		</div>
		<!-- <a href="#!" class="btn-scroll">KEEP SCROLLING</a> -->
	</div>
	<div class="half-02"></div>
</section>

{% endblock %}

{% block scripts %}
  <script type="text/javascript">
    $(document).ready(function() {
      
    });
  </script>
{% endblock %}
