{% extends "layouts/landing.html" %}

{% block content %}

<section class="dj-section">
	<div class="dj-section__column dj-order-2 dj-order-1-tablet">
		<h1 class="dj-section__heading" data-aos="fade" data-aos-duration="1000" data-aos-delay="500">
			You’re a designer and you are looking actively for work opportunities, right?
		</h1>
		<p data-aos="fade" data-aos-delay="700" data-aos-duration="1000">DesignerJar is ordering matching designers randomly and transparent.</p>
		<a data-scroll href="#bazinga">Shite</a>
	</div>
	<div class="dj-section__column dj-section__column--gray-lighter">
		<img src="assets/images/landing-illustration-01.png" alt="designer jar">
	</div>
</section>

<section class="dj-section" id="bazinga">
	<div class="dj-section__column dj-order-2 dj-order-1-tablet">
		<h1 class="dj-section__heading" data-aos="fade" data-aos-duration="1000" data-aos-delay="500">
			You’re a designer and you are looking actively for work opportunities, right?
		</h1>
		<p data-aos="fade" data-aos-delay="700" data-aos-duration="1000">DesignerJar is ordering matching designers randomly and transparent.</p>
	</div>
	<div class="dj-section__column dj-section__column--gray-lighter"></div>
</section>

{% endblock %}
