{% extends "layouts/landing.html" %}

{% block content %}

<!-- Intro -->
<section class="dj-section" id="section-intro">
	<div class="dj-card dj-elevation-3  dj-text-align-center">
		<div class="dj-card__body dj-card__body--top-padding">
			<h2>Get hired as a <span class="dj-color-secondary">designer</span></h2>
			<ul class="dj-progress-list">	
				<li class="dj-progress-list__item">
					a
				</li>
				<li class="dj-progress-list__item">
					b
				</li>
				<li class="dj-progress-list__item">
					c
				</li>
			</ul>
		</div>
	</div>
	
</section>

<!-- Progress -->
<section class="dj-section" id="section-progress">
	Progress
</section>

<!-- Access -->
<section class="dj-section" id="section-access">
	Access
</section>

<!-- Testimonials -->
<section class="dj-section" id="section-testimonials">
	Testimonials
</section>
{% endblock %}
