{% extends "layouts/landing.html" %}

{% block content %}

<!-- Intro -->
<section class="dj-section" id="section-intro">
	<div class="dj-card dj-elevation-3  dj-text-align-center">
		
	</div>
	
</section>

<!-- Progress -->
<section class="dj-section" id="section-progress">
	Progress
</section>

<!-- Access -->
<section class="dj-section" id="section-access">
	Access
</section>

<!-- Testimonials -->
<section class="dj-section" id="section-testimonials">
	Testimonials
</section>
{% endblock %}
