<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <base href="{{ base }}">
    <title>Designerjar | Get hired as a designer</title>
    <!-- load fonts -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/IBM-type/0.5.4/css/ibm-type.min.css" rel="stylesheet">
    <!-- load CSS -->
    <link rel="stylesheet" href="assets/css/landing.css">
    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="assets/images/favicon/site.webmanifest">
    <link rel="mask-icon" href="assets/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#4f3150">

    <meta property="og:title" content="Designerjar | Get hired as a designer">
    <meta property="og:description" content="Designerjar will order matching designers’ profiles completely randomly and transparently.">
    <meta property="og:image" content="/assets/images/meta-image.jpg">
    <meta property="og:url" content="designerjar.com">

  </head>

  <body>
      <div class="dj-container" data-aos="fade" data-aos-delay="400">

        <header class="dj-header">
          {% include "partials/landing/header.html" %}
        </header>

        <main class="dj-main">
          {% block content %}{% endblock %}
        </main>

        <footer class="dj-footer">
          {% include "partials/landing/footer.html" %}
        </footer>

      </div>

    <!-- Scripts -->
    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/background-particles.js"></script>
    <script src="assets/js/youtube-popup.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/smooth-scroll/12.1.5/js/smooth-scroll.js"></script>
    <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
     <script>
        AOS.init();
        var scroll = new SmoothScroll('a[href*="#"]');
        $(".dj-explainer-video").grtyoutube();
    </script>
    {% block scripts %}{% endblock %}
  </body>
</html>
