<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <base href="{{ base }}">
    <title>Experiments</title>
    <!-- load fonts -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/IBM-type/0.5.4/css/ibm-type.min.css" rel="stylesheet">
    <!-- load CSS -->
    <link rel="stylesheet" href="assets/css/landing.css">
  </head>

  <body>
      <div class="dj-container" data-aos="fade" data-aos-delay="400">

        <header class="dj-header dj-elevation-2">
          {% include "partials/landing/header.html" %}
        </header>

        <main class="dj-main">
          {% block content %}{% endblock %}
        </main>

        <footer class="dj-footer">
          {% include "partials/landing/footer.html" %}
        </footer>

      </div>

    <!-- initialise material components js -->
    
    <script src="assets/js/jquery.js"></script>
    <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/smooth-scroll/12.1.5/js/smooth-scroll.js"></script>
     <script>
      var scroll = new SmoothScroll('a[href*="#"]');
      AOS.init();
    </script>
    {% block scripts %}{% endblock %}
  </body>
</html>
